.main-header__subtitle,
.main-header__title {
    line-height: .5rem;
    font-family: 'Red Hat Display'
}

.main-header__subtitle,
.main-header__text,
.main-header__title,
.service-text,
.service-title {
    font-family: 'Red Hat Display'
}

.client-item__text,
.clients-box>div,
.restange,
.testimonals-info,
.testimonals-text {
    text-align: center
}

.main-header {
    padding: 3rem 0
}

.main-header__subtitle {
    color: #666;
    font-size: 1.5rem;
    font-weight: 500
}

.main-header__title {
    color: #25202f;
    font-size: 3.75rem;
    font-weight: 700
}

.main-header__text,
.portfolio-more a,
.service-title {
    color: #25202f;
    font-size: 1.5rem
}

.main-header__text {
    font-weight: 400
}

.main-header__image img {
    width: 33.4375rem;
    height: 38.875rem;
    position: relative
}

.services-section {
    padding: 7rem 0
}

.service-card {
    padding-right: 1rem
}

.service-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.service-title {
    font-weight: 500;
    padding-left: 1.25rem
}

.service-text {
    color: #47444e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem
}

.client-item__text,
.portfolio-more a,
.testimonals-profile__title,
.testimonals-text {
    font-family: 'Red Hat Display';
    font-weight: 500
}

.portfolio-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 133, 255, .14)), to(rgba(255, 177, 222, .14)));
    background: -o-linear-gradient(top, rgba(187, 133, 255, .14) 0, rgba(255, 177, 222, .14) 100%);
    background: linear-gradient(180deg, rgba(187, 133, 255, .14) 0, rgba(255, 177, 222, .14) 100%);
    padding: 7.5rem 0
}

.portfolio-more a {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.portfolio-more i {
    padding-left: 1rem;
    color: #8643dc;
    width: 1.5rem;
    height: 1.5rem
}

.portfolio-images>img {
    width: 50%
}

.clients-section {
    padding: 6.25rem 0;
    background: #fff
}

.clients-box>div {
    padding: 2rem 3rem;
    border-radius: .625rem;
    cursor: pointer
}

.clients-box img {
    width: 4.3rem;
    height: 3.125rem
}

.client-item-1 {
    border: 1px solid #ffe7f0;
    background: #fff6fa
}

.client-item-2 {
    border: 1px solid #caffe1;
    background: #edfff5
}

.client-item-3 {
    border: 1px solid #ddf5ff;
    background: #f5fcff
}

.client-item-4 {
    border: 1px solid #ffeec9;
    background: #fffbf2
}

.client-item-5 {
    border: 1px solid #dbffc3;
    background: #f4ffed
}

.client-item__text {
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal
}

.testimonals-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(203, 163, 255, .2)), to(rgba(197, 255, 176, .2)));
    background: -o-linear-gradient(top, rgba(203, 163, 255, .2) 0, rgba(197, 255, 176, .2) 100%);
    background: linear-gradient(180deg, rgba(203, 163, 255, .2) 0, rgba(197, 255, 176, .2) 100%);
    padding: 5.125rem 0
}

.testimonals-info>img {
    margin-bottom: 1.25rem
}

.testimonals-box img {
    border-radius: .9375rem
}

.left-image:nth-child(2) {
    padding-top: 4.88rem;
    padding-left: 4.4rem
}

.right-image:nth-child(2) {
    padding-top: 4.88rem;
    padding-right: 4.4rem
}

.testimonals-text {
    width: 35.5625rem;
    height: 5.3125rem;
    color: #636066;
    font-size: 1rem;
    line-height: 2rem
}

.testimonals-profile img {
    margin-top: 3.25rem
}

.testimonals-profile__title {
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem
}

.blog-date,
.testimonals-profile__subtitle {
    font-family: 'Red Hat Display';
    font-size: 1rem
}

.testimonals-profile__subtitle {
    color: #000;
    font-style: normal;
    font-weight: 400;
    margin: 0
}

.restange {
    padding: 1.5rem 0
}

.restange img {
    cursor: pointer
}

.blog-section {
    padding: 10rem 0
}

.blog-item-2,
.blog-item-3 {
    padding: 1.88rem 1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%
}

.blog-date {
    color: #8643dc;
    font-weight: 500
}

.blog-definition {
    color: #000;
    font-family: 'Red Hat Display';
    font-size: 1.25rem;
    font-weight: 700;
    width: 21.875rem;
    height: 2.9375rem
}

.blog-date-2,
.blog-definition-2 {
    color: #fff;
    font-family: 'Red Hat Display'
}

.blog-item-2 {
    background-image: url('../img/blog-2.png')
}

.blog-item-3 {
    background-image: url('../img/blog-3.png')
}

.blog-date-2 {
    background-size: 100% 100%;
    font-size: 1rem;
    font-weight: 500;
    margin: 0
}

.blog-item-2,
.blog-item-3 {
    margin: 0 1rem;
    width: 15.9375rem;
    height: 23.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.blog-definition-2 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0
}

@media only screen and (max-width:992px) {
    .blog-box,
    .section-subtitle,
    .section-title {
        text-align: center
    }
    .service-card {
        padding: .5rem 1rem
    }
    .service-text {
        width: 20rem
    }
    .services-cards {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .blog-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .blog-item~div {
        margin: 1.5rem 0
    }
    .blog-definition {
        width: auto
    }
}

@media only screen and (max-width:768px) {
    .portfolio-images,
    .portfolio-info,
    .testimonals-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .main-header {
        padding: 5rem 0
    }
    .services-section .flexbox {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .main-header__image img {
        margin-left: 4rem
    }
    .main-header .flex-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .portfolio-images,
    .portfolio-info {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .portfolio-images img {
        width: 80%
    }
    .clients-box>div {
        margin: 1rem 2rem
    }
    .clients-box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .testimonals-box {
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .left-image:nth-child(2) {
        padding-top: 4.88rem;
        padding-left: 0
    }
    .right-image:nth-child(2) {
        padding-top: 4.88rem;
        padding-right: 0
    }
    .blog-definition {
        width: auto
    }
}

@media only screen and (max-width:576px) {
    .main-header,
    .services-section {
        text-align: center
    }
    .main-header__image img {
        margin-left: 0
    }
    .service-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .service-title {
        padding: 0
    }
}

@media only screen and (max-width:400px) {
    .main-header__image img {
        width: 28rem;
        height: 33rem
    }
    .services-section {
        padding: 0
    }
    .services-cards {
        padding-top: 0
    }
    .testtimonals-box {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .testimonals-info>img {
        padding-top: 1.5rem
    }
    .testimonals-text {
        width: auto;
        height: auto
    }
    .blog-item img {
        width: 70vw
    }
    .blog-item-2 {
        margin-bottom: 2rem
    }
}